// Vendor Foundation stuff.
@import "settings";
@import "foundation";

// Vendor CodeMirror stuff.
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/vibrant-ink";
@import "~codemirror/theme/seti";

// Base elements. Not necessary to include.
@import "base";

// Overriding Foundation styles. NOT NEEDED.
@import "modules/tabs";

// These are CodeMirror overrides.
@import "modules/editor";

// The block and typography stuff should be retrieved from
// our codebase-- NOT NEEDED.
@import "modules/block";
@import "modules/typography";
// Probably something we can extract.
.full-height {
  height: 100%;
}


// The stuff below is styles we may want to keep in some form.
// Now, this is something specific as part of our editor's styling,
// but should not be forced on the user (maybe).
@import "modules/example";

// This is the only specific part of our editor
.editor {
  height: 400px;

  &.is-full {
    background-color: #415991;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 100000;
  }
}