@import "settings";
@import "foundation";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/vibrant-ink";
@import "~codemirror/theme/seti";

@import "base";

@import "modules/typography";
@import "modules/example";
@import "modules/block";
@import "modules/editor";
@import "modules/tabs";

.flex-vert {
  padding: 20px;
  background: #eee;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.full-height {
  height: 100%;
}