.tabs dd, .tabs .tab-title {
  opacity: 0.5;
  // border-radius: 5px 5px 0 0;
  border: 1px solid
}

.tabs dd, .tabs .tab-title.active {
  opacity: 1.0;
}

.tabs-content > .content {
  padding-top: 0;
  height: 100%;
}

.tabs dd > a, .tabs .tab-title > a {
  padding: 0.35rem .75rem;
}