.text-smaller {
  font-size: rem-calc(18);
}

.text-small {
  font-size: rem-calc(20);
}

.text-normal {
  font-size: rem-calc(52);
}

.text-large {
  font-size: rem-calc(80);
}

.text-larger {
  font-size: rem-calc(108);
}

.text-megazord {
  font-size: rem-calc(258);
}
